/*global*/
.row1 {
    padding: px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
/*style 3*/
/* .vanilla-pill {
    color: #232f34;
    font-weight: 600;
    margin: 15px;
    height: 28px;
    width: 150px;
    padding-top:5px;
    text-align: center;
    border-radius: 25px;
    font-family: 'Open Sans';
    background-color: #EEF1F3;
  } */

  .vanilla-pill {
    color: #232f34;
    font-weight: 300;
    margin: 3px;
    height: 19px;
    width: 72px;
    padding-top: -1px;
    text-align: center;
    border-radius: 11px;
    font-family: 'Open Sans';
    background-color: #EEF1F3;
}